{% extends "files/header.html" %} {% block title %}College Tasks {% endblock %} {% load static %} 
{% block content %}



<style type="text/css">
	body {
		background : -webkit-linear-gradient(left, pink, lightblue);
	}
	.box {
		background-color : white;
		margin : 75px auto;
		padding: 20px;
		max-width: 400px;
	}
</style>
{% if messages %}
	<div class="alert alert-danger alert-dismissible fade show" style="max-width: 500px; margin:auto" role="alert">
		{% for message in messages%} 
			  {{ message }}
		{% endfor %}
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    	<span aria-hidden="true">&times;</span>
	  	</button>
	</div>
{% endif %}


<div class="container box shadow">
	<div class="row" style="padding: 20px">
		<div class="col" style="text-align: center;">
			<h3>Edit Details</h3>
		</div>
	</div>
	<form method='POST'>
		{% csrf_token %}
		<div class="form-group">
			<input type="email" name="email" value = "{{ user.email }}" class="form-control">
		</div>		
		<div class="form-group">
			<input type="text" name="name" value = "{{ user.name }}" class="form-control">
		</div>
		<div class="form-group">
			<input type="text" name="bio" value = "{{ user.bio }}" class="form-control">	
		</div>
		{% if request.user.is_superuser %}
			<div class="form-group">
				<input type="text" name="subject" value = "{{ user.subject }}" class="form-control">
			</div>
		{% else %}
			<div class="form-group">
				<select class="form-control" name="branch">
				  <option value="CSE">CSE</option>
				  <option value="MECH">MECH</option>
				  <option value="EEE">EEE</option>
				  <option value="ECE">ECE</option>
				  <option value="IT">IT</option>
				  <option value="CIVIL">CIVIL</option>
				  <option value="ECM">ECM</option>
				</select>
			</div>
			<div class="form-group">
				<select class="form-control" name="year">
				  <option value="1">I</option>
				  <option value="2">II</option>
				  <option value="3">III</option>
				  <option value="4">IV</option>
				</select>
			</div>
			<div class="form-group">
				<select class="form-control" name="section">
				  <option value="A">A</option>
				  <option value="B">B</option>
				  <option value="C">C</option>
				  <option value="D">D</option>
				</select>
			</div>
		{% endif %}
		<div class="form-group">
			<input type="submit" class="form-control btn btn-primary" name="" value="Update Details">
		</div>
	</form>
</div>
{% endblock content%}