{% extends "files/bootstrapBloilerTemplate.html" %} {% block title %}College Tasks {% endblock %} {% load static %} {% block content %}

<style type="text/css">
	body {
		background : -webkit-linear-gradient(left, pink, lightblue);
	}
	.box {
		background-color : white;
		margin : 75px auto;
		padding: 20px;
		max-width: 400px;
	}
</style>
<nav class="navbar navbar-dark bg-dark shadow">
  <a class="navbar-brand" href="#" style="margin: auto">COLLEGE TASKS</a>
</nav>

{% if messages %}
	<div class="alert alert-danger alert-dismissible fade show" style="max-width: 500px; margin:auto" role="alert">
		{% for message in messages%} 
			  {{ message }}
		{% endfor %}
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    	<span aria-hidden="true">&times;</span>
	  	</button>
	</div>
{% endif %}

<div class="container">
	<div class="container box shadow">
		<div class="row" style="padding: 20px">
			<div class="col" style="text-align: center;">
				<h3>Signup</h3>
			</div>
		</div>
		<form method='POST'>
			{% csrf_token %}
			<div class="form-group">
				<input type="text" name="username" placeholder="Username" class="form-control">
			</div>
			<div class="form-group">
				<input type="password" name="password" placeholder="Password" class="form-control">
			</div>
			<div class="form-group">
				<input type="password" name="confirm-password" placeholder="Confirm Password" class="form-control">
			</div>
			<div class="form-group">
				<input type="email" name="email" placeholder="Email" class="form-control">
			</div>		
			<div class="form-group">
				<input type="text" name="name" placeholder="Full Name" class="form-control">
			</div>
			<div class="form-group">
				<input type="text" name="bio" placeholder="Add your bio" class="form-control">
			</div>
			<div class="form-group">
				<select class="form-control" name="branch">
				  <option value="A">CSE</option>
				  <option value="B">MECH</option>
				  <option value="C">EEE</option>
				  <option value="D">ECE</option>
				  <option value="D">IT</option>
				  <option value="D">CIVIL</option>
				  <option value="D">ECM</option>
				</select>
			</div>
			<div class="form-group">
				<select class="form-control" name="year">
				  <option value="1">I</option>
				  <option value="2">II</option>
				  <option value="3">III</option>
				  <option value="4">IV</option>
				</select>
			</div>
			<div class="form-group">
				<select class="form-control" name="section">
				  <option value="A">A</option>
				  <option value="B">B</option>
				  <option value="C">C</option>
				  <option value="D">D</option>
				</select>
			</div>
			<div class="form-group">
				<input type="submit" class="form-control btn btn-primary" name="" value="Signup as student">
			</div>
			<div class="form-group" style="text-align: center;">
				<p>Already a user? <a href="/login">Login</a></p>
			</div>
		</form>
	</div>
</div>
{% endblock content%}